/* Start Varibles    */
:root {
    --main-color: #3b6bd3;
    --transparent-color: rgba(61, 130, 195, 0.7);
    --main-duration:0.3s;
    --section-padding:100px;
}

/* End Variables  */
/* Start Global Rules  */
* {
    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules  */
/* Start Main Heading  */
.main-heading{
    padding-bottom: var(--section-padding);
}
.main-heading .container{
    position: relative;
    width: fit-content;
    border: 3px solid #000000;
    display: block;
    z-index: 100;
}
.main-heading .container:hover{
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-heading .container::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #4a88b0;
    background-color: #4a88b0;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);  
}
.main-heading .container:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards
}
.main-heading .container::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #4a88b0;
    background-color: #4a88b0;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.main-heading .container:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards
}
.main-heading .container .text{
    padding: 15px;
}
.main-heading .container .text h2{
    font-size: 30px;
    letter-spacing:1px ;
    font-weight: bold;
    z-index: 100;
}
.main-heading .container:hover .text h2{
    color: white;
    transition-delay: 0.5s;
}
/* End Main Heading  */
/* Start Header  */
header{
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .container .logo{
    font-weight: bold;
    font-size: 35px;
    color: var(--main-color);
}
header .container nav >ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
header .container nav>ul>li{
    padding: 25px;
    position: relative;
    overflow: hidden;
}
header .container nav>ul>li::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-top: 4px solid var(--main-color);
    left: -100%;
    top: 0;
    transition: var(--main-duration);
    z-index: -1;
}
header .container nav >ul >li >a{
    font-size: 20px;
    color: black;
}
header .container nav>ul>li:hover::before{
    left: 0;
    background-color: #d4e4f2;

}
@media(max-width:767px)
{
    header .container{
        flex-direction: column;
        text-align: center;
    }
    header .container .logo{
        margin-top: 20px;
        width: 100%;
        font-size: 30px;
    }
    header .container nav>ul>li{
        padding: 20px 10px;
    }
    header .container nav>ul>li>a{
        font-size:17px;
    }
}
/* End Header  */
/* Start Megamenu  */

 header .container nav>ul>li.has-mega {
    overflow: visible;
    margin-top: -25px;
    margin-bottom: -25px;
 }
 /* نلغي خط hover للـ li اللي فيها الميجا مينيو */
 header .container nav>ul>li.has-mega::before {
    display: none;
 }
  header .container nav>ul>li.has-mega > a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-top: 4px solid transparent;
    left: -100%;
    top: 0px;
    transition: var(--main-duration);
    z-index: -1;
  }
   header .container nav>ul>li.has-mega:hover>a::before{
    border-top: 4px solid var(--main-color);
    left: 0;
    background-color: #d4e4f2;
   }
.has-mega {
    position: relative;
}

.has-mega .mega-menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    display: none;
    z-index: 999;
}

.mega-menu-container {
    position: absolute;  /* absolute بالنسبة للـ header */
    top: 102%;
    left: 50px;
    width: 100vw;
    display: none;
    z-index: 999;
}
/* يظهر عند hover على الـ li */
.has-mega:hover~.mega-menu-container,
.has-mega:hover .mega-menu-container {
    display: block;
}
.mega-menu {
    width: fit-content;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    height: fit-content;
    display: flex;
    padding: 20px 50px;
    box-sizing: border-box;
    gap: 200px;
}

.mega-menu .image {
   padding-top:20px;
}
.mega-menu .image img{
    max-width: 100%;
}
.links-wrapper {
    display: flex;
    gap: 60px;
    flex: 1;
}
.links-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 30px;
    
}
.links-wrapper ul li:not(:last-child){
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e2e2;
}
.links-wrapper ul li:last-child{
    padding-top: 20px;
}
.links-wrapper ul li a{
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
}
/*  End Megamenu  */
/* Start Landing */
.landing{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.landing::before {
    position: absolute;
    content: "";
    background-color: #e5e7e9;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: -200px;
    left: 0;
    transform: skewY(-7deg);
}
.landing .go-down{
    height: 50px;
    width: 50px;
    color: var(--main-color);
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    /* animation:up-down 1s linear infinite; */
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
.landing .go-down:hover{
    color: var(--transparent-color);
}
.landing .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}
.landing .container .text{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
   align-items: center;
   padding-left:0 ;

}
.landing .container .text h1{
    font-size: 45px;
}
.landing .container .text p{
    font-size: 25px;
    color: #52575a;
    line-height:2 ;
}
.landing .container .image img {
    position: relative;
    width: 660px;
    animation: up-and-down 3s linear infinite;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
    .landing .text p {
        margin: 10px auto;
    }
    .landing .image {
        display: none;
    }
}
@media(max-width:767px) {
    .landing .container{
        height: calc(100vh - 300px);
        margin-top:0;
    }
    .landing .container .text{
        flex-direction: column; 
    }
    .landing .container .text h1{
        font-size: 30px;
    }
    .landing .container .text p {
        font-size: 18px;
    }
    
}
/* End Landing */
/* Start Articles  */
.articles{
    padding-bottom: var(--section-padding);
    position: relative;
}
.articles .container {

}
.articles .container .articles-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.articles .container .articles-content .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-duration), box-shadow var(--main-duration);
}
.articles .box:hover {
    transform: translateY(-18px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .articles-content .box .image img{
    width: 1000%;
    max-width: 100%;
}
.articles .container .articles-content .box .text{
    padding:22px;
}
.articles .container .articles-content .box .text h3{
    padding-bottom: 15px;
}
.articles .container .articles-content .box .text p{
    color: #52575a;
    line-height:1.5;
}
.articles .container .articles-content .box .info{
    position: relative;
    border-top: 1px solid #d9dcdf;
    padding: 20px;
}
.articles .container .articles-content .box .info a{
    color: #2273aa;
    font-weight: bold;
}
.articles .container .articles-content .box .info i{
    position: absolute;
    right: 15px;
    color:#2273aa;
    animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */
/* Sart Gallery  */
.gallery{
padding-bottom: var(--section-padding);
padding-top: var(--section-padding);
background-color: #e1e5e6;
position: relative;
}
.gallery.container{

}
.gallery .container .gallery-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.gallery .container .gallery-content .box{
    position: relative;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    padding: 20px;
}
.gallery .container .gallery-content .box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .container .gallery-content .box:hover::before{
    animation: flashing .5s;
}
.gallery .container .gallery-content .box .image{
    overflow: hidden;
}
.gallery .container .gallery-content .box .image img{
    max-width:100%;
    transition: var(--main-duration);
}
.gallery .container .gallery-content .box:hover .image img{
    transform: rotate(9deg) scale(1.2);
}

/* End Gallery  */
/* Start Features  */
.features{
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
}
.features  > .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;

}
.features .container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #c0c2c4;
    overflow: hidden;
    z-index: 1;
}
.features .container .image{
    position: relative;
    overflow: hidden;
}
.features .container .image::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-color: rgba(255, 255, 255, 0.39);
}
.features .container .image::after{
    position: absolute;
    content: "";
    width: 400%;
    height: 400%;
    left: 0;
    top: 25%;
    background-color:white;
    transition: 0.5s;
    transform: rotate(-20deg);
    /* left: 110px; */
    /* transform: skew(-70deg); */
}
.features .container .box:hover .image::after{
    top: -20px;
    transform: skew(70deg);
    /* transform: rotate(-90deg); */
}
.features .container .image img{
   width: 100%;
}
.features >.container h2{
    position: relative;
    margin-bottom:50px;
    font-size: 40px;
}
.features>.container h2::before{
    position: absolute;
    content: "";
    width: calc(100% - 28px);
    height: 5px;
    left: 15px;
    top: calc(100% + 20px);
    background-color: #000000;
}
.features .container p{
    line-height: 2;
    font-size: 22px;
    color: #75797c;
}
.features .container a{
    margin: 30px auto;
    padding:10px 30px;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid;
    border-radius:6px;
    color: #000000;
    position: relative;
    overflow: hidden;
    z-index: 15;
}
.features .container .box:hover a {
    color: white;
    background-color: transparent;
}
.features .container a::before{
    position: absolute;
    content: "";
    color: #000000;
    left: -220%;
    top: 0;
    width: 200%;
    height: 100%;
    transition: 0.5s;
    background: linear-gradient(to right, #000000 50%, white 50%);
    /* background-size: 200% 100%; */
    /* background-position: right bottom; */
    z-index: -1;
}
.features .container .box:hover a::before{
    /* background-position: left bottom; */
    left: 0;
}
/* for special things */

/* for Quality Box   */
.features .container .quality .image::before{
    background-color: rgba(255, 88, 88, 0.552);
}
.features .container .quality h2::before{
    background-color: #f13131;
}
.features .container .quality a{
    color: #f13131;
}
.features .container .quality a::before{
    background: linear-gradient(to right, #f13131 50%, white 50%);
}
/* for Time Box   */
.features .container .time .image::before {
    background-color: rgba(88, 255, 163, 0.552);
}

.features .container .time h2::before {
    background-color: #24bb8b;
}

.features .container .time a {
    color: #24bb8b;
}

.features .container .time a::before {
    background: linear-gradient(to right, #24bb8b 50%, white 50%);
}
/* for Passion Box   */
.features .container .passion .image::before {
    background-color: rgba(88, 160, 255, 0.552);
}

.features .container .passion h2::before {
    background-color: #3174f1;
}

.features .container .passion a {
    color: #3174f1;
}

.features .container .passion a::before {
    background: linear-gradient(to right, #3174f1 50%, white 50%);
}

/* End Features  */
/* Start Testimonials  */
.testimonials{
    padding-top:var(--section-padding) ;
    padding-bottom: var(--section-padding);
    background-color: #e7eaeb;
}
.testimonials > .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:50px ;
}
.testimonials>.container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dbddde;
    border-radius: 10px;
    box-shadow: 0 4px 15px #a9a8a8;
    background-color: white;
    position: relative;
}
.testimonials>.container .box .image{
    position: absolute;
    z-index: 1;
    right: -10px;
    width: 30%;
    top: -40px;
    border: 12px solid #e7eaeb;
    border-radius: 50%;
}
.testimonials>.container .box .image img{
    max-width: 100%;
    border-radius: 50%;
}
.testimonials>.container .box .text{
    padding:25px 40px 25px 30px;
}
.testimonials>.container .box .text h2{
    font-size: 20px;
    padding-bottom: 12px;
}
.testimonials>.container .box .text span{
    color: #75797c;
}
.testimonials>.container .box .text .rate .filled{
    padding:15px 0 ;
    color: #efc140;
}
.testimonials>.container .box .text p{
    color: #75797c;
}
/* End Testimonals */
/* Start Team Members  */
.team-members{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.team-members > .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 60px;
}
.team-members > .container .box{
    position: relative;
    background-color: #efeded;
    border-radius: 10px;
    margin-left: 40px;
    transition: var(--main-duration);
}
.team-members .box .hover-layer {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 10px;
    pointer-events: none;
}

.team-members .box .hover-layer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: 0.5s ease;
}

.team-members .box:hover .hover-layer::before {
    transform: translateX(0);
}
/* .team-members>.container .box::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    border-radius: 10px;
    background-color: transparent;
}
.team-members>.container .box:hover::before{
    background-color:rgba(0, 0, 0, 0.133);
    transform: translateX(-100%);
    transition-duration: 0.4s;
} */
.team-members > .container .box .image{
    width: 100%;
    margin-top: 60px;
    margin-left: -60px;
    z-index: 5;
}
.team-members > .container .box .image img{
    max-width: 100%;
    border-radius: 10px;
}
.team-members>.container .box:hover .image img{
    filter:grayscale(100%); ;
}
.team-members .container .box .text{
    margin-top: 15px;
    padding-left: 20px;
}
.team-members .container .box .text h2{
    padding:15px 0;
    color: var(--main-color);
}
.team-members .container .box .text  p{
    padding-bottom: 15px;
    font-size:17px;
}
.team-members .container .box .social{
    position: absolute;
    display: flex;
    flex-direction:column;
    top: 120px;
    right: 20px;
}
.team-members .container .social i{
    padding-bottom: 35px;
    color: #52575a;
}
/* End Team Members */
/* Start Animation */
@keyframes up-and-down {
    0%, 100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%,10%,20%,50%,80%,100% {
        transform: translateY(0);
    }
    40%,60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0;
        width:50% ;
        height:100% ;
        border-radius: 0%;
    }
    
}
@keyframes right-move {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0%;
    }

}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        /* left: 100%;
        top: 100%; */
        width:calc(100% + 25px) ;
        height: calc(100% + 25px);
        opacity: 0;
    }
}

 /* end Animation */



