/* Start Varibles    */
:root {
    --main-color: #4a88b0;
    --transparent-color: rgba(61, 130, 195, 0.7);
    --main-duration:0.3s;
    --section-padding:100px;
}

/* End Variables  */
/* Start Global Rules  */
* {
    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules  */
/* Start Main Heading  */
.main-heading{
    padding-bottom: var(--section-padding);
}
.main-heading .container{
    position: relative;
    width: fit-content;
    border: 3px solid #000000;
    display: block;
    z-index: 100;
}
.main-heading .container:hover{
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-heading .container::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #4a88b0;
    background-color: #4a88b0;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);  
}
.main-heading .container:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards
}
.main-heading .container::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #4a88b0;
    background-color: #4a88b0;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.main-heading .container:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards
}
.main-heading .container .text{
    padding: 15px;
}
.main-heading .container .text h2{
    font-size: 30px;
    letter-spacing:1px ;
    font-weight: bold;
    z-index: 100;
}
.main-heading .container:hover .text h2{
    color: white;
    transition-delay: 0.5s;
}
/* End Main Heading  */
/* Start Header  */
header{
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .container .logo{
    font-weight: bold;
    font-size: 35px;
    color: var(--main-color);
}
header .container nav >ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
header .container nav>ul>li{
    padding: 25px;
    position: relative;
    overflow: hidden;
}
header .container nav>ul>li::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-top: 4px solid var(--main-color);
    left: -100%;
    top: 0;
    transition: var(--main-duration);
    z-index: -1;
}
header .container nav >ul >li >a{
    font-size: 20px;
    color: black;
}
header .container nav>ul>li:hover::before{
    left: 0;
    background-color: #d4e4f2;

}
@media(max-width:767px)
{
    header .container{
        flex-direction: column;
        text-align: center;
    }
    header .container .logo{
        margin-top: 20px;
        width: 100%;
        font-size: 30px;
    }
    header .container nav>ul>li{
        padding: 20px 10px;
    }
    header .container nav>ul>li>a{
        font-size:17px;
    }
}
/* End Header  */
/* Start Megamenu  */

/* .to-solve-hidden-problem{
    position: relative;
} */
.mega-menu{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 600px;
    z-index: 1000;
    background-color: white;
    border-bottom: 3px solid var(--main-color);

}
.mega-menu .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

}
.mega-menu .container .image{

}
.mega-menu .container ul{
    flex: grid;
    grid-template-columns:repeat(auto-fill,minmax(100px ,1fr)) ;
}
.mega-menu .container ul li{
    
}
.mega-menu .container ul li a{

}
.mega-menu .container ul li a i{

}

/*  End Megamenu  */
/* Start Landing */
.landing{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.landing::before {
    position: absolute;
    content: "";
    background-color: #e5e7e9;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: -200px;
    left: 0;
    transform: skewY(-7deg);
}
.landing .go-down{
    height: 50px;
    width: 50px;
    color: var(--main-color);
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    /* animation:up-down 1s linear infinite; */
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
.landing .go-down:hover{
    color: var(--transparent-color);
}
.landing .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}
.landing .container .text{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
   align-items: center;
   padding-left:0 ;

}
.landing .container .text h1{
    font-size: 45px;
}
.landing .container .text p{
    font-size: 25px;
    color: #52575a;
    line-height:2 ;
}
.landing .container .image img {
    position: relative;
    width: 660px;
    animation: up-and-down 3s linear infinite;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
    .landing .text p {
        margin: 10px auto;
    }
    .landing .image {
        display: none;
    }
}
@media(max-width:767px) {
    .landing .container{
        height: calc(100vh - 300px);
        margin-top:0;
    }
    .landing .container .text{
        flex-direction: column; 
    }
    .landing .container .text h1{
        font-size: 30px;
    }
    .landing .container .text p {
        font-size: 18px;
    }
    
}
/* End Landing */
/* Start Articles  */
.articles{
    padding-bottom: var(--section-padding);
    position: relative;
}
.articles .container {

}
.articles .container .articles-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.articles .container .articles-content .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-duration), box-shadow var(--main-duration);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .articles-content .box .image img{
    width: 1000%;
    max-width: 100%;
}
.articles .container .articles-content .box .text{
    padding:22px;
}
.articles .container .articles-content .box .text h3{
    padding-bottom: 15px;
}
.articles .container .articles-content .box .text p{
    color: #52575a;
    line-height:1.5;
}
.articles .container .articles-content .box .info{
    position: relative;
    border-top: 1px solid #d9dcdf;
    padding: 20px;
}
.articles .container .articles-content .box .info a{
    color: #2273aa;
    font-weight: bold;
}
.articles .container .articles-content .box .info i{
    position: absolute;
    right: 15px;
    color:#2273aa;
}
/* End Articles */
/* Sart Gallery  */
.gallery{
padding-bottom: var(--section-padding);
padding-top: var(--section-padding);
background-color: #e1e5e6;
position: relative;
}
.gallery.container{

}
.gallery .container .gallery-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.gallery .container .gallery-content .box{
    position: relative;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    padding: 20px;
}
.gallery .container .gallery-content .box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .container .gallery-content .box:hover::before{
    animation: flashing .5s;
}
.gallery .container .gallery-content .box .image{
    overflow: hidden;
}
.gallery .container .gallery-content .box .image img{
    max-width:100%;
    transition: var(--main-duration);
}
.gallery .container .gallery-content .box:hover .image img{
    transform: rotate(9deg) scale(1.2);
}

/* End Gallery  */
/* Start Animation */
@keyframes up-and-down {
    0%, 100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%,10%,20%,50%,80%,100% {
        transform: translateY(0);
    }
    40%,60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0;
        width:50% ;
        height:100% ;
        border-radius: 0%;
    }
    
}
@keyframes right-move {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0%;
    }

}
@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        /* left: 100%;
        top: 100%; */
        width:calc(100% + 25px) ;
        height: calc(100% + 25px);
        opacity: 0;
    }
}

 /* end Animation */



