/* Start Varibles    */
:root{
    --main-color:#19c8fa;
    --transparent-color:rgb(15 116 143 / 70%);
    --section-padding:100px
}
/* End Variables  */
/* Start Global Rules  */
* {
    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans",sans-serif;
    /* background-color: black; */
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* small  */
@media(min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium  */
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules  */
/* Start Components  */
.main-heading {
    text-align: center;

}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.main-heading h2::before {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   height:2px;
   background-color: #333;
   bottom: -30px;
   width: 120px;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:15px ;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* End Components  */
/* Start Header  */
header{
    position:absolute ;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;  
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;

}
header .logo img{
    height: 40px;
}
header .container nav{
    flex: 1;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
header .container nav .toggle-menu{
    color: white;
    font-size: 22px;
}
@media(min-width:768px){
    header .container nav .toggle-menu{
        display: none;
    }
}
header .container ul{
    display: flex;
}
@media(max-width:767px){
    header .container nav ul{
        display: none;
    }
    header .container nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;   
        left: 0;
        width: 100%;
        background-color:rgb(0 0 0/50%) ;    
    }
    header nav ul li a{
        padding: 15px !important;
    }
}
header .container ul li a{
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header .container ul li a.active,
header .container ul li a:hover{
    color: var(--main-color);
    border-bottom:1px solid var(--main-color);
}
header .container .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left:1px solid white ;
}
header .container nav .form i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform:translateY(-50%);
    right: 0;
}

/* End Header  */
/* Start Landing  */
.landing {
    min-height: 100vh;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    background-color:rgb(27, 27, 28);
    position: relative;
}
.landing .overlay {
    position: absolute;
    /* width: 600px;
    background-color: rgb(25, 200, 250, 0.5);
    left: 0;
    height: 230px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/60%);
    
}
.landing .overlay .text{
    /* position: relative;
    display: flex;
    top: 50px;
    width: calc(100% - 50px);
    left: 50px; */
    /* padding-left:20px ; */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width:50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media(max-width:767px){
    .landing .overlay .text{
        width: 100%;
    }
}
.landing .overlay .text .content{
    /* position: absolute;
    color: black; */
    max-width: 500px;
}
@media(max-width:767px) {
    .landing .overlay .text {
        width: 100%;
    }
    .landing .overlay .text .content{
        max-width: 100%;
    }
}
.landing .overlay .text .content h1{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom:20px;
}
.landing .overlay .text .content p{
    font-size: 14px;
    line-height: 2;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
@media(max-width:767px){
    .landing .change-background{
        display: none;
    }
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    /* gap: 2px; */
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    /* display: inline-block; */
    margin-right:10px ;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing  */
/* Start Services  */
.services{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
}
@media(min-width:768px){
    .services .container .services-container{
        display: grid;
        grid-template-columns:repeat(auto-fill,minmax(450px,1fr)) ;
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
.services .srv-box{
    display: flex;
}
@media(max-width:767px){
    .services .srv-box{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i{
        margin: 0 0 30px;
    }
}
.services .srv-box i{
    margin-right: 50px;
}
.services .srv-box .text h3{
    margin-bottom: 30px;
    color:var(--main-color);
}
.services .srv-box .text p{
    line-height: 2;
    color:#777 ;
}
/* End Services  */
/* Start Design  */
.design{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url("../images/design-features.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/60%);
}
.design .image {
    position: relative;
    z-index: 2;
    text-align: center;
    flex: 1;
}
@media(max-width:767px)
{
    .design .image{
        display: none;
    }
}
.design .image img {
    position: relative;
    bottom: -150px;

}
.design .text{
    position: relative;
    z-index: 2;
    flex: 1;
    color: white;
    padding: 50px;
    background-color:var(--transparent-color) ;
}
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom:40px;  
}
.design .text ul li{
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design  */
/* Start Portfolio  */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li{
    padding: 10px;
}
.portfolio .shuffle li.active{
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs-container .box {
   position: relative;
   overflow: hidden;
}
@media(min-width:768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
        padding: 10px;
    }
}
@media(min-width:1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
        padding: 10px;
    }
}
.portfolio .imgs-container .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box:hover .caption{
    bottom: 0;
}
.portfolio .imgs-container .box:hover img{
    transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
    /* bottom: 0; */
}
.portfolio .imgs-container .box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p{
    color: var(--main-color);
}
.portfolio .more{
    background-color: var(--main-color);
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    width: fit-content;
    margin: 30px auto;
}
/* End Portfolio  */
/* Start Video  */
.video{
    position: relative;
}
.video::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/40%);
}
.video video{
    width: 100%;
}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
    
}
.video .text h2{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight:normal ;
}
.video .text p{
    margin-bottom: 30px;
}
.video .text button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
/* End Video  */
/* Start About  */
.about{
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img{
    position: relative;
    bottom: -120px;
    margin-top:-120px;
    max-width: 100%;
}
@media(max-width:767px)
{
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End About  */
/* Start Stats  */
.stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../images/stats.png);
    background-size:cover;
    position: relative;
}
.stats::before{
    content: "";
    position: absolute;
    top:0 ;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/70%);
}
.stats .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box{
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:768px){
    .stats .container .box{
        flex-basis: 100%;
    }
}
@media(min-width:768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media(min-width:991px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    
}
.stats .container .box .number{
    font-size: 50px;
    font-weight: bold;
    margin:0 0 20px;
}
.stats .container .box p{
    font-size: 14px;
}
/* End Stats  */
/* Start Skills */
.our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.our-skills .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(min-width:992px){
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
.our-skills .container > div > h3{
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container> div > P{
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .container .testimonials .content{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.our-skills .container .testimonials .content img {
    width: 100px;
    /* height: 100px; */
    border-radius: 50%;
    /* border: 1px solid #777; */
    margin-right: 50px;
}
@media(max-width:768px) {
    .our-skills .container .testimonials .content {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .container .testimonials .content img{
        margin: 0 auto 20px;
    }
}
.our-skills .container .testimonials .text {
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
}
.our-skills .container .testimonials .text p{
    color: #777;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-skills .container .testimonials .bullets{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom:50px ;
}
.our-skills .container .testimonials .bullets li{
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.our-skills .container .testimonials .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .skills .prog-holder{
    margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4{
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog{
    background-color: #a6a2a2;
    height: 30px;
}
.our-skills .skills .prog-holder .prog span{
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder .prog span::before{
    content: attr(data-progress);
   position: absolute;
   background-color: black;
   color: white;
   top: -40px;
   right: -18px;
   padding: 4px 0;
   width: 40px;
   text-align: center;
   border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -7px;
    top: -15px;
}
/* End Skills  */
/* Start Quote  */
.quote{
    padding-top:var(--section-padding) ;
    padding-bottom: var(--section-padding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/75%);
}
.quote .container{
    position: relative;
}
.quote .container q{
    font-style: italic;
    font-size: 30px;
    margin-bottom:20px ;
    display: block;
}
/* End Quote  */




